version: 2.1
orbs:
  slack: circleci/slack@3.4.2

jobs:
  test:
    docker:
      - image: cimg/ruby:2.7.7
    steps:
      - checkout
      - run:
          name: Install
          command: bundle install
      - run:
          name: Test
          command: bundle exec rspec
      - slack/status: &slack_status
          fail_only: true
          only_for_branches: main
          failure_message: ":facepalm:  Failed job $CIRCLE_JOB  :homer-disappear:"
          include_job_number_field: false
  publish:
    docker:
      - image: cimg/ruby:2.7.7
    steps:
      - checkout
      - run:
          name: Install
          command: bundle install
      - run:
          name: Setup Rubygems
          command: |
            mkdir ~/.gem
            echo -e "---\r\n:rubygems_api_key: $RUBYGEMS_API_KEY" > ~/.gem/credentials
            chmod 0600 /home/circleci/.gem/credentials
      - run:
          name: Publish to Rubygems
          command: |
            set -e

            VERSION=$(ruby -e "require './lib/fb/jwt/auth/version.rb'; puts Fb::Jwt::Auth::VERSION")
            PUBLISHED_VERSION=$(curl https://rubygems.org/api/v1/versions/fb-jwt-auth/latest.json | sed -e 's/[{}]/''/g' | sed s/\"//g | awk -v RS=',' -F: '$1=="version"{print $2}')

            if [ "$VERSION" != "$PUBLISHED_VERSION" ]
            then
              bundle exec gem build fb-jwt-auth.gemspec
              bundle exec gem push fb-jwt-auth-*.gem
              curl -X POST -H 'Content-type: application/json' --data "{\"text\":\":woohoo:  Successfully published ${CIRCLE_PROJECT_REPONAME} ${VERSION}  :ship_it_parrot:\"}" "$SLACK_WEBHOOK"
            fi
      - slack/status: *slack_status

workflows:
  commit-workflow:
    jobs:
      - test
      - publish:
          requires:
            - test
          filters:
            tags:
              only: /.*/
            branches:
              only: main
